html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
label:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}
input[type="text"] {
  box-shadow: none !important;
}
button:focus,
button:active,
button:hover {
  outline: 0px !important;
  -webkit-appearance: none;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.head-title {
  width: 100%;
  line-height: 60px;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 1.3em;
}

.my-dropdown {
  position: relative;
  display: inline-block;
  flex-basis: 100px;
  /* line-height: 60px; */
  z-index: 1000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  right: 26%;
  height: auto;
}

.dropdown-content > div {
  position: relative;
  height: 37px;
  line-height: 37px;
  padding-left: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: small;
  margin-top: 5px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 2s ease 0s;
}

.version-panel-class .mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-menu-panel {
  max-width: unset !important;
  margin: 12px !important;
}
.cdk-global-scrollblock {
  position:inherit;
  width: 100%;
  overflow-y: scroll;
}
/* Avatar image */
/* avatar  */
.circles {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #673ab7;
  border: 2px solid #fff;
  text-align: center;
  line-height: 39px;
  margin-right: 1rem;
  color: white;
}
.mat-drawer-content {
  position:initial !important;
}