.alert {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 8px;
    margin-bottom: 0px;
    display: flex;
}

.include {
    font-size: 12px;
    line-height: 15px;
    padding-right: 10px;
    padding-left: 5px;
}

.name {
    margin-left: 12px;
    font-weight: 500;
    width: 80px;
    line-height: 34px;
    font-size: 14px;
}

.description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    max-height: 36px;
    line-height: 36px;
    width: calc(100% - 220px);
    font-size: 12px;
    padding-left: 16px;
}

.icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 3px;
    margin-top: 3px;
}