<div id="header" class="bg-light" style="display: flex; height:60px;">
  <div
    style="flex-basis: 1300px; line-height: 60px;font-weight: bold; padding-left: 55px; font-size: x-large; color: cornflowerblue">
    Arduino On Cloud</div>
  <div style="flex-basis: 100px; line-height: 60px; text-align: right; padding-right: 10px;font-weight:600">Gallery
  </div>
  <div style="flex-basis: 300px; line-height: 60px;">
    <!--<button mat-stroked-button>dashboard</button>-->
    <a mat-stroked-button href="#" target="_blank" style="margin-left: 5px;">Login</a>

  </div>
</div>

<div id="titlepage">
  <div
    style="position: relative; float: left;background-color: white;  width: 50%;height: 55.5vh; top: 10px; left: 15px">
    <h1 style="margin: 10% auto">Design Your circuits with Arduino On Cloud!</h1>
    <button class="button" [routerLink]="['/simulator']">
      Launch editor
    </button>

  </div>
  <div id="demo"
    style=" position: relative; height:55.5vh; top: 10px;background-color:white;float: left; width: 47%;margin-left: 20px;">
  </div>

</div>