<app-header title="Arduino on Cloud" color="cornflowerblue" front="true"></app-header> 

  <div class="row">
    <div class="col-md-12">
      <h1 style="margin-top: 5%; text-align: center;">Design Your circuits with Arduino On Cloud!</h1>
    </div>
  </div>   

  <div class="row">
    <div class="col-md-6">
      <div style="margin-left: 25%; margin-top: 3%;">
        <iframe width="90%" height="300px;" src="https://www.youtube.com/embed/bTIE9GTc1eM?list=PLBfIgVyhwjwGOjb7LVAcPN6CFd97wqwFp" title="Overview of Arduino - English" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div style="margin-left: 10%; margin-top: 12%;">
          <a class="button" target="_blank" href="https://sites.google.com/view/arduino-on-cloud/home">Explore Experiments</a>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="margin-left: -5%; margin-top:10px;">
      <img width="90%;" src="./assets/images/components/front-image-arduino.gif">
      <div style="text-align: center; margin-top:8%;">
        <button class="button" [routerLink]="['/simulator']">
          Launch editor
        </button>
      </div>
    </div>
  </div>
