<app-header title="Create LTI App"></app-header>
<h3 style="font-weight: 900; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 1em;">
  Get Config URL
</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6 p-1">
      <div class="caption">
        Model Simulation
      </div>
      <img [attr.src]="modelCircuit.base64_image" alt="Loading the image" class="img-thumbnail border border-secondary image"/>
      <div class="caption">
        {{ modelCircuit.name }}
      </div>
      <div class="details">
        {{ modelCircuit.description }}
      </div>
    </div>
    <div class="col-md-6 p-1">
      <div class="caption">
        Student Simulation
      </div>
      <img [attr.src]="studentCircuit.base64_image" alt="Loading the image" class="img-thumbnail border border-secondary image"/>
      <div class="caption">
        {{ studentCircuit.name }}
      </div>
      <div class="details">
        {{ studentCircuit.description }}
      </div>
    </div>
  </div>
</div>
<form [formGroup]="service.form" class='main-form' (submit)="onSubmit()">
  <mat-grid-list cols='2' rowHeight="300px">
    <mat-grid-tile>
      <div class="field-group">
        <input formControlName="model_schematic" value="{{circuit_id}}" style="display:none"/>
        <mat-form-field>
          <input formControlName="consumer_key" matInput placeholder="Consumer Key*"/>
          <mat-error *ngIf="service.form.controls['consumer_key'].errors?.required">This field is mandatory</mat-error>
          <mat-error *ngIf="service.form.controls['consumer_key'].errors?.minlength">String should be atleast 2 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="test_case" matInput placeholder="Test Case" (selectionChange)="ontestCaseSelectChanges($event)">
            <mat-option>
              None
            </mat-option>
            <ng-container *ngFor="let test_case of testCases">
              <mat-option value="{{test_case.id}}">{{test_case.output}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="check-box-spacing">
          <mat-checkbox formControlName="acceptSubmissions">
            Accept Submissions
          </mat-checkbox>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="field-group">
        <mat-form-field>
          <input formControlName="secret_key" matInput placeholder="Secret Key*" type="password"/>
          <mat-error *ngIf="service.form.controls['secret_key'].errors?.required">This field is mandatory</mat-error>
          <mat-error *ngIf="service.form.controls['secret_key'].errors?.minlength">String should be atleast 2 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="initial_schematic" matInput placeholder="Students's Simulation*" (selectionChange)="onStudentSimulationSelectChanges($event)">
            <mat-option>
              None
            </mat-option>
            <ng-container *ngFor="let circuit of circuits">
              <mat-option value="{{circuit.save_id}}">{{circuit.name}} {{circuit.save_time}}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="score" matInput placeholder="Score*"/>
          <mat-error *ngIf="service.form.controls['score'].errors?.required">This field is mandatory</mat-error>
          <mat-error *ngIf="service.form.controls['score'].errors?.min || service.form.controls['score'].errors?.max">Value should be 0 or 1</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="details.configExists">
    <span>
      CONFIG URL : 
    </span>
    <a href="{{configUrl}}" #URL>{{configUrl}}</a>
    <button mat-raised-button color="primary" (click)="copyText(URL)">
      <mat-icon>
        file_copy
      </mat-icon>
    </button>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-2">
      <button class="btn-lti" mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="service.form.invalid">Submit</button>
      <button class="btn-lti" mat-raised-button color="warn" type="reset" (click)="onDelete()" [disabled]="!details.configExists">Delete</button>
      <button class="btn-lti" mat-raised-button color="primary">Submissions</button>
    </div>
    <div class="col-md-2"></div>
  </div>
</form>