.main-form{
	margin: 10px;
}

.field-group{
	width: 100%;
	padding: 5%;
}

.field-group > * {
	width: 100%;
}

.check-box-spacing {
	margin-left: 5px;
	padding-bottom: 10px;
}

.btn-lti {
	margin: 15px;
	align-self: center;
}

.caption {
	text-align: center;
}

.details {
	text-align: justify;
}


.image {
	width: 562px !important;
	height: 426px !important;
}