
<h1 mat-dialog-title style="margin:2px">Export as</h1>
<mat-divider></mat-divider>
   <mat-radio-group class="radio-group" aria-labelledby="radio-group">
      <!-- <mat-radio-button class="radio-button" value="Schematic">Schematic File</mat-radio-button> -->
      <mat-radio-button class="radio-button" value="SVG">SVG</mat-radio-button>
      <mat-radio-button class="radio-button" value="png" (click)="exportPng()">PNG</mat-radio-button>
      <mat-radio-button class="radio-button" value="jpeg">JPEG</mat-radio-button>

   </mat-radio-group>
   <mat-divider></mat-divider>
<mat-dialog-actions>
 <button color="primary" mat-button mat-dialog-close mat-dialog-close="false" style="margin-left: auto;">Cancel</button>
 <button color="primary" mat-button mat-dialog-close mat-dialog-close="true">OK</button>
</mat-dialog-actions>
