<h1 mat-dialog-title style="margin:2px">Choose image format</h1>
<mat-divider></mat-divider>
<mat-radio-group class="radio-group" aria-labelledby="radio-group">
  <!-- <mat-radio-button class="radio-button" value="Schematic">Schematic File</mat-radio-button> -->
  <mat-radio-button class="radio-button" value="SVG" #svg>SVG</mat-radio-button>
  <mat-radio-button class="radio-button" value="png" #png>PNG</mat-radio-button>
  <mat-radio-button class="radio-button" value="jpeg" #jpg>JPEG</mat-radio-button>
</mat-radio-group>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close mat-dialog-close="true" style="margin-left: auto;">Cancel</button>
  <button color="primary" mat-button (click)="Export(svg,png,jpg)">OK</button>
</mat-dialog-actions>
