.subbox {
    box-sizing: border-box;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 0.3125em;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px grey;
    cursor: pointer;
    margin-left: 2%;
    justify-content: space-evenly;
}

.item-img {
    min-height: 180px;
    max-width: 100%;
    max-height: 180px;
}

.subbox:hover {
    box-shadow: 2px 2px 9px grey;
}
.footer{
    display: flex;
    justify-content: space-between;
}