<app-header title="Arduino on Cloud" color="cornflowerblue"></app-header>

<!--close header-->
<div id="main">
  <div style="display: flex;margin-top: 10px;">
    <h5 style="margin-right:5px;font-family: monospace;font-weight: 900;font-size: 30px">Gallery</h5>
    <!--<a type="button" class="btn btn-primary mb-3"
            style="line-height:10px ;height: 25px;margin-top: 3px;margin-left:5px">Circuits</a>-->
  </div>


  <mat-tab-group style="width: 100%;display: flex;">
    <mat-tab label="Experiments">
      <p>No Experiments Available</p>
    </mat-tab>
    <mat-tab label="Recents" style="font-weight: bold;">
      <p>No Published Circuit Available</p>
    </mat-tab>
  </mat-tab-group>

</div>
