<div class="bg-light" style="display: flex; height:60px;">
    <div
        style="flex-basis: 1700px; line-height: 60px;font-weight: bold; padding-left: 55px; font-size: x-large; color: cornflowerblue">
        Arduino On Cloud</div>
    <!--<div style="flex-basis: 200px; line-height: 60px; text-align: right; padding-right: 20px;font-weight:600">
        <button mat-flat-button class="bg-light" [routerLink]="['/gallery']">Gallery</button>
    </div>-->
    <!--<div style="flex-basis: 100px; line-height: 60px;">
      <a mat-stroked-button href="#" target="_blank">Login</a>
  </div>-->
    <div class="dropdown" style="flex-basis: 100px; line-height: 60px;">
        <div class="w3-dropdown-hover">
            <img  class="image" src="../assets/images/login.svg" width="30" height="30" class="d-inline-block align-center" alt="">
            <div class="dropdown-content">
                <div class ="list"
                    style="position: relative;height: 37px;line-height: 37px;padding-left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900; font-size: small;margin-top: 3px;">
                    <i class="fas fa-user" style="margin-left: 5px;"></i> Anonymous</div>
                <hr style="margin-top: 5px;">
                <div  class ="list"
                    style="position: relative;height: 37px;line-height: 37px;padding-left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900; font-size: small;">
                    <i class="fa fa-home" style="margin-left: 5px;"></i> Home</div>
                <div  class ="list"
                    style="position: relative;height: 37px;line-height: 37px;padding-left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900; font-size: small;" [routerLink]="['/simulator']">
                    <i class="fa fa-plus" style="margin-left: 5px;"></i> New</div>
                <div  class ="list"
                    style="position: relative;height: 37px;line-height: 37px;padding-left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900; font-size: small;" [routerLink]="['/dashboard']">
                    <i class="fa fa-credit-card" style="margin-left: 5px;"></i> Dashboard</div>
                <hr style="margin-top: 5px;">
                <div  class ="list"
                    style="position: relative;height: 37px;line-height: 37px;padding-left: 5px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 900; font-size: small;">
                    <i class="fas fa-sign-out-alt" style="margin-left: 5px;"></i> logout</div>
            </div>
        </div>
    </div>
</div>
<!--close header-->
<div id="main">
    <div style="display: flex;margin-top: 10px;">
        <h5 style="margin-right:5px;font-family: monospace;font-weight: 900;font-size: 30px">Gallery</h5>
        <!--<a type="button" class="btn btn-primary mb-3"
            style="line-height:10px ;height: 25px;margin-top: 3px;margin-left:5px">Circuits</a>-->
    </div>


    <mat-tab-group style="width: 100%;display: flex;">
        <mat-tab label="Recent">

            <div class="box">
                <!--First Card-->
                <div class="subbox">
                    <div>
                        <img style="border-radius: 5px;" src="arduinoUnoR3.png" width="auto" height="auto" alt="">
                        <div style="box-sizing: border-box; padding: 15px;">
                            <h4>Project Name</h4><br>
                            <h5>Author Name:</h5>
                            <h6 style="margin-bottom:0px; font-size: 15px; color: lightgrey">10/03/2020 (2 hours ago)
                            </h6>
                        </div>
                    </div>
                </div>
                <!--/First Card-->
                <!--Second Card-->
                <div class="subbox">
                    <div>
                        <img style="border-radius: 5px;" src="arduinoUnoR3.png" width="auto" height="auto" alt="">
                        <div style="box-sizing: border-box; padding: 15px;">
                            <h4>Project Name</h4><br>
                            <h5>Author Name:</h5>
                            <h6 style="margin-bottom:0px; font-size: 15px; color: lightgrey">10/03/2020 (2 hours ago)
                            </h6>
                        </div>
                    </div>
                </div>
                <!--/Second Card-->
                <div class="subbox">
                    <div>
                        <img style="border-radius: 5px;" src="arduinoUnoR3.png" width="auto" height="auto" alt="">
                        <div style="box-sizing: border-box; padding: 15px;">
                            <h4>Project Name</h4><br>
                            <h5>Author Name:</h5>
                            <h6 style="margin-bottom:0px; font-size: 15px; color: lightgrey">10/03/2020 (2 hours ago)
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="subbox">
                    <div>
                        <img style="border-radius: 5px;" src="arduinoUnoR3.png" width="auto" height="auto" alt="">
                        <div style="box-sizing: border-box; padding: 15px;">
                            <h4>Project Name</h4><br>
                            <h5>Author Name:</h5>
                            <h6 style="margin-bottom:0px; font-size: 15px; color: lightgrey">10/03/2020 (2 hours ago)
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Popular" style="font-weight: bold;"></mat-tab>
    </mat-tab-group>

</div>