.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

.cptext{
    text-align:center;
    padding: 20px;
    font-family: sans-serif !important; 
}
.messageBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
