<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card">
        <h3 class="cptext">Change Password</h3>
        <div class="messageBox">
          <p *ngIf="isSuccessMessage" style="color: rgb(51, 184, 10);">{{messageText}}</p>
          <p *ngIf="isErrorMessage" style="color: rgb(218, 17, 17);">{{messageText}}</p>
        </div>
        <div class="card-body">
          <form [formGroup]="changePasswordForm" (submit)="submit(changePasswordForm.value)" class="mx-auto">
            <div class="form-group">
              <label>Current Password</label>
              <div class="input-group">
                <!-- Change input type to be able to accept dynamic data -->
                <input [type]="fieldCurrentTextType ? 'text' : 'password'" class="form-control"
                  formControlName="currentPassword" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldCurrentTextType,
                        'fa-eye': fieldCurrentTextType
                      }" (click)="toggleFieldTextType()"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>New Password</label>
              <div class="input-group">
                <!-- Change input type to be able to accept dynamic data -->
                <input [type]="fieldNewTextType ? 'text' : 'password'" class="form-control"
                  formControlName="newPassword" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                        'fa-eye-slash': !fieldNewTextType,
                        'fa-eye': fieldNewTextType
                      }" (click)="toggleNewFieldTextType()"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Repeat your password</label>
              <div class="input-group">
                <!-- Change input type to be able to accept dynamic data -->
                <input [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control"
                  formControlName="confirmPassword" />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa" [ngClass]="{
                        'fa-eye-slash': !repeatFieldTextType,
                        'fa-eye': repeatFieldTextType
                      }" (click)="toggleRepeatFieldTextType()"></i>
                  </span>
                </div>
              </div>
            </div>
            <button class="btn-primary btn btn-block" [disabled]="!changePasswordForm.valid">
              RESET  PASSWORD
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>