<h1 mat-dialog-title style="margin:10px">Component List</h1>
<mat-divider></mat-divider>
<div style="overflow-x:auto;">
  <button style="display: none;"></button>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Quantity</th>
      <th>Info</th>
    </thead>
    <tbody class="bg-white">
      <tr>
        <td>Arduino</td>
        <td>1</td>
        <td>
          <button mat-icon-button (click)="OpenInfo('key')">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>LED</td>
        <td>1</td>
        <td>
          <button mat-icon-button (click)="OpenInfo('key')">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>L298N MotorDriver</td>
        <td>1</td>
        <td>
          <button mat-icon-button (click)="OpenInfo('key')">
            <mat-icon>info</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button color="primary" mat-button style="margin-left: auto;">Download CSV</button>
  <button color="primary" mat-button mat-dialog-close mat-dialog-close="true">OK</button>
</mat-dialog-actions>
