<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="JS/Jquery/jquery-3.5.0.min.js" defer></script>
    <script src="JS/jquery-ui.js" defer></script>
    <script src="JS/jquery-ui.min.js" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
    <div class="RightBox">
        <h3>This is where the user can enter parameters upon selecting any element</h3>
    </div>
    <div class="Grid"></div>
    <div class="LeftBox">
        <img src="TestSVG/resistor.svg" height="50px" id="res"/><br><br>
        <h3>This is where the components will be displayed, drag and drop the resistor on to the grid for an example0</h3>
    </div>
</body>
</html>