/* Sidebar Components */
.compImage {
  width: 72px;
  height: 72px;
  margin-left: auto;
  padding: 2px;
}

.compImage:hover {
  background-color: #f4f6f8;
  border-radius: 5px;
  transform: scale(1.5);
  padding: 3px;
  box-shadow: 0px 0px 41px 17px rgba(207,218,225,0.68);
}

/* Schematic Editer Grid */
.grid-container {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0px auto;
  -webkit-box-shadow: -8px -2px 24px 9px rgba(208, 218, 225, 1);
  -moz-box-shadow: -8px -2px 24px 9px rgba(208, 218, 225, 1);
  box-shadow: -8px -2px 24px 9px rgba(208, 218, 225, 1);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
  cursor: default;
  border: 2px solid #d0dae1;
  border-radius: 5px;
}

.A1-L {
  width: 84.1cm;
  height: 59.4cm;
}

.A1-P {
  width: 59.4cm;
  height: 84.1cm;
}

.A2-L {
  width: 59.4cm;
  height: 42.0cm;
}

.A2-P {
  width: 42.0cm;
  height: 59.4cm;
}

.A3-L {
  width: 42.0cm;
  height: 29.7cm;
}

.A3-P {
  width: 29.7cm;
  height: 42.0cm;
}

.A4-L {
  width: 29.7cm;
  height: 21cm;
}

.A4-P {
  width: 21cm;
  height: 29.7cm;
}

.A5-L {
  width: 21.0cm;
  height: 14.8cm;
}

.A5-P {
  width: 14.8cm;
  height:21.0cm;
}

.outline-container {
  width:250px;
  height:120px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=");
  border: 1px solid #fff;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: grey;
}

.modal-library-detail *::-webkit-scrollbar {
  width: auto;
}