@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.action-div{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.exit-dialog{
    font-family: "Inter", sans-serif;
    width: 200px;
    /*need to fix the border radius for the box*/
}

.yes{
    width: 95px;
    padding: 4px 10px; /*yes not vertically aligned */
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
}

.no{
    border: solid 2px black;
    width: 95px;
    padding: 4px 10px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.yes:hover{
    background-color: rgb(63, 63, 63);
}
.no:hover{
    background-color:rgb(212, 212, 212);    
}