<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: #999;height: 50px;">
  <span class="navbar-brand mb-0 font-weight-bold text-dark h1" routerLink="/">Simulator</span>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 text-dark" type="text" value={{projectTitle}} aria-label="text"
      id="project-title" (focusout)="onFocusOut($event)">
  </form>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Project
        </a>
        <div class="dropdown-menu" style="background-color: #b8b8b8" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" href="#">New Project</a>
          <a class="dropdown-item text-dark" href="#">Clear Project</a>
          <a class="dropdown-item text-dark" href="#">Save</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" id="navbarDropdown" role="button" (click)="openDailog()">
          Export
        </a>
        <!-- <button mat-button class="text-dark m-auto" >
          Export
        </button> -->
      </li>
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          View
        </a>
        <div class="dropdown-menu" style="background-color: #b8b8b8" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" role="button" (click)="openview()">Component List</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="./assets/images/login.svg" width="40" height="40" class="d-inline-block align-top bg" alt="">
        </a>
      </li>

    </ul>
  </div>
</nav>


<!-- start of icon block -->
<div id="secondary-header">
  <button mat-raised-button class="ml-2 mb-1 mt-1 mr-1 btn-fst" (click)="toggleCodeEditor(codeDiv)"
    [style.background-color]="toggle ? 'white' : 'lightblue'">
    <i class='far fa-file-code'></i>Code</button>

  <button mat-raised-button id="simulate" class="mb-1 mt-1 btn-fst" (click)="StartSimulation()"
    [style.background-color]="stoggle ? 'white' : 'lightgreen'">
    <i [ngClass]="stoggle ? 'fas fa-caret-right' : 'fas fa-stop-circle'"></i>
    {{status}}</button>

  <!--simulation loading svg-->
  <div id="simload"
    style="display:none; z-index: 100;position: relative;width: 20%; height:20%;background: transparent;padding: 10px;">
    <img src="../assets/images/Spin.svg" style="margin:auto; width: 30px; height:30px;background: transparent;">
  </div>
  <!--/simulation loading svg-->

  <span style="flex:1 1 auto;"></span>

  <button class="btn btn-light btn-sm  ml-2 mb-1 mt-1" (click)="delete()"><i class="fa fa-trash"></i></button>

  <button class="btn btn-light btn-sm mb-1 mt-1" (click)="zoom(0)"><i class="fa fa-search-plus"></i></button>

  <button class="btn btn-light btn-sm mb-1 mt-1" style="margin-right: 30px;" (click)="zoom(1)"><i
      class="fa fa-search-minus"></i></button>

  <!-- <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-reply"></i></button>

  <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-share"></i></button>

  <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-link fa-rotate-45"
      style="font-size:20px"></i></button> -->

</div>
<!-- end of icon block -->


<div class="code-editor" style="z-index: 1000;" #codeDiv>
  <app-code-editor width="500" height="100" [reinit]="openCodeEditor"></app-code-editor>
</div>



<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper" style="background-color:white;">
    <h4 class="text-center text-primary mt-2">Circuit Components</h4>

    <div>
      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(generalItems)">
        General
      </div>

      <div class="collapse-div" #generalItems>
        <div class="component-row" *ngFor="let row of componentsBox.general">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
        </div>

      </div>
    </div>

    <div>

      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(itemsController)">
        Controllers
      </div>

      <div class="collapse-div" #itemsController>
        <div class="component-row" *ngFor="let row of componentsBox.controllers">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
        </div>

      </div>
    </div>

    <div>

      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(outputDiv)">
        Output
      </div>

      <div class="collapse-div" #outputDiv>
        <div class="component-row" *ngFor="let row of componentsBox.output">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}" style="margin: auto;">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
          <!-- <div class="component-card">
            <img src="./assets/images/components/Buzzer.png" alt="Buzzer">
            <label>Buzzer</label>
          </div>
          <div class="component-card">
            <img src="./assets/images/components/Buzzer.png" alt="Buzzer">
            <label>Buzzer</label>
          </div> -->
        </div>

      </div>
    </div>

    <div>

      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(inputDiv)">
        Input
      </div>

      <div class="collapse-div" #inputDiv>
        <div class="component-row" *ngFor="let row of componentsBox.input">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}" style="margin: auto;">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
        </div>
      </div>
    </div>

    <div>

      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(sourceDiv)">
        Sources
      </div>
      <div class="collapse-div" #sourceDiv>
        <div class="component-row" *ngFor="let row of componentsBox.power">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}">
            <label>{{components[item].name}}</label>
          </div>
        </div>

      </div>


      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(driverDiv)">
        Drivers
      </div>

      <div class="collapse-div" #driverDiv>
        <div class="component-row" *ngFor="let row of componentsBox.drivers">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
        </div>

      </div>

      <div class="card-header border border-dark font-weight-bold text-dark" (click)="Collapse(miscDiv)">
        Miscellaneous
      </div>

      <div class="collapse-div" #miscDiv>
        <div class="component-row" *ngFor="let row of componentsBox.misc">
          <div class="component-card" (dblclick)="componentdbClick(item)" *ngFor="let item of row" draggable="true"
            (dragstart)="dragStart($event,item)">
            <img src={{components[item].image}} alt="{{components[item].name}}">
            <label style="font-size: smaller;">{{components[item].name}}</label>
          </div>
        </div>

      </div>
    </div>


  </div>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div id="holder"></div>
  </div>
</div>
<!-- /#page-content-wrapper -->


<div id="propertybox" style="top: 110px;left: calc(100vw - 230px);" (mousedown)="propertyMouseDown($event)">
  <div style="display: flex;justify-content: space-between;">
    <h6 class="title">Project Info</h6>
    <span style="flex:1 1 auto;"></span>
    <i class='fas fa-arrows-alt' (mousedown)="startPropertyDrag()" style="cursor: move;"></i>
  </div>
  <div class="body" style="display: flex;flex-direction: column;"></div>
  <div *ngIf="showProperty">
    <mat-form-field>
      <mat-label>Project Title</mat-label>
      <input matInput [(ngModel)]="projectTitle">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
  <div *ngIf="!showProperty" style="display: flex;margin-top: 10px;">
    <button mat-raised-button color="primary" style="margin-left: auto;" (click)="openInfo()">View Info</button>
  </div>
</div>


<div id="bubblebox"></div>
<!--context menu-->

<div id="contextMenu" class="context-menu">
  <ul>
    <li (click)="copy()">
      <h6><i class="fas fa-copy mr-2"></i> Copy</h6>
    </li>
    <li (click)="paste()">
      <h6><i class="fas fa-paste mr-2"></i> Paste</h6>
    </li>
    <li (click)="delete()">
      <h6><i class="fas fa-trash-alt mr-2"></i> Delete</h6>
    </li>
  </ul>
</div>
<!--/context menu-->
<!--toast message-->
<div id="ToastMessage" class="toast text-white" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body"></div>
</div>
<!--/toast message-->
<!--console ui-->
<div id="console" style="display: none;">

  <div id="displayheader" style="display: flex; background-color: white; position: relative; width: 100%;">
    <button class="btn" style="background-color: white;" (click)="closeConsole()"><i
        [ngClass]="atoggle ?'fas fa-angle-up' : 'fas fa-angle-down'"></i></button>
    <button class="btn" style="background-color: white;" (click)="expandConsole()"><i
        [ngClass]="toggle1 ? 'fas fa-compress-alt' : 'fas fa-expand-alt'"></i></button>
  </div>
  <div id="msg"></div>
  <div id="footer" style="bottom: 0px; position: relative; display: block; top: 10px; padding: 0px; margin: 0px;">
    <form style="bottom: 0px; position: relative; padding: 0px; background-color: pink; height: auto;">
      <input type="text" style="border-radius: 0px; width: 89.5%;">
      <button type="button" style="border-color: darkgray; border-radius: 0px;">Send</button>
      <button type="button" style="border-color: darkgray; border-radius: 0px;" (click)="clearConsole()">Clear</button>
    </form>

  </div>
</div>
<!--/console ui-->
