<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light text-white" style="background-color: #999;height: 60px;">
  <span class="navbar-brand mb-0 font-weight-bold text-dark h1">Simulator</span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 text-dark" type="text" placeholder="Project title" aria-label="text" style="background-color:whitesmoke">
    </form>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Project
        </a>
        <div class="dropdown-menu " style="background-color: #b8b8b8" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" href="#">New Project</a>
          <a class="dropdown-item text-dark" href="#">Clear Project</a>
          <a class="dropdown-item text-dark" href="#">Save</a>
          <a class="dropdown-item text-dark" href="#">Open</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Export
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #b8b8b8">
          <a class="dropdown-item text-dark" href="#">Schematic File</a>
          <a class="dropdown-item text-dark" href="#">Image</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <img src="login.svg" width="40" height="40" class="d-inline-block align-top bg" alt="">
        </a>
      </li>

    </ul>
  </div>
</nav>
 
      
   <!-- start of icon block -->   
<div class="inline-block " style="display: flex; background-color: whitesmoke ;justify-content: space-between;">      
        <button class="btn btn-light btn-xs ml-2 mb-1 mt-1 mr-1  bg-white" style='font-size: 20px'> <i class='far fa-file-code'>  Code</i></button>
        <button class="btn btn-light btn-sm mb-1 mt-1   bg-white" style='font-size:20px'><i class='fas fa-caret-right'></i> Start Stimulation</button> 
        <span style="flex:1 1 auto;"></span>
        <button class="btn btn-light btn-sm  ml-2 mb-1 mt-1 bg-white"  style="font-size: 20px"><i class="fa fa-trash"></i></button>
        <button  class="btn btn-light btn-sm mb-1 mt-1 bg-white"style="font-size:20px"><i class="fa fa-search-plus"></i></button>
        <button  class="btn btn-light btn-sm mb-1 mt-1 bg-white"style="font-size:20px"><i class="fa fa-search-minus"></i></button>
        <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-reply"></i></button>
        <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-share"></i></button>
        <button class="btn btn-light btn-sm  mb-1 mt-1 bg-white" style="font-size:20px"><i class="fa fa-link fa-rotate-45" style="font-size:20px"></i></button>   
        
</div> 
    <!-- end of icon block -->  

      
      
      
      

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-right" id="sidebar-wrapper" style="background-color:#ddd;">
    <h4 class="text-center text-primary mt-2">Circuit Components</h4>

    <div (click)="Collapse(itemsController)">

      <div class="card-header border border-dark font-weight-bold text-dark">
        Controllers
      </div>

      <div id="controller-block" class="collapse-div" #itemsController>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
      </div>
    </div>

    <div (click)="Collapse(outputDiv)">

      <div class="card-header border border-dark font-weight-bold text-dark">
        Output
      </div>

      <div id="controller-block" class="collapse-div" #outputDiv>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
      </div>
    </div>

    <div (click)="Collapse(inputDiv)">

      <div class="card-header border border-dark font-weight-bold text-dark">
        Input
      </div>

      <div id="controller-block" class="collapse-div" #inputDiv>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
      </div>
    </div>

    <div (click)="Collapse(sourceDiv)">

      <div class="card-header border border-dark font-weight-bold text-dark">
        Sources
      </div>

      <div id="controller-block" class="collapse-div" #sourceDiv>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
        <div class="card-block">card block</div>
      </div>
    </div>


  </div>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div id="holder" style="overflow: scroll;width: 100%;height: 100%;background-color: #eee;"></div>

  </div>
</div>
<!-- /#page-content-wrapper -->
