* {
    user-select: none;
}

.collapse-card {
    background-color: transparent;
}

.card-header:hover {
    background-color: #fff;
}

.collapse-div {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.show-div {
    max-height: 100vh;
    transition: max-height .5s ease-in-out;
}

#holder{
  cursor: pointer;
}

#sidebar-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 60px);
    width: 400px;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.900rem 1.28rem;
    font-size: 1.7rem;
}

#sidebar-wrapper .list-group {
    width: 21.5rem;
    font-size: 20px;
    padding-left: 5px;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
