.title{
  color: #d9534f;
}
.error-notice{
  margin:5px; /* Make sure to keep some distance from all sides */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.notice{
  width:99%;
  background-color: #ffffff;
  padding:10px;
  border:1px solid #eee;
  border-left-width:7px;
  border-radius: 3px;
  margin:20px auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  align-items: left;
  justify-content: left;
}

.danger{
  border-left-color: #d9534f; /* Left side border color */
  background-color: rgba(217, 83, 79, 0.1); /*Same color as the left border with reduced alpha to 0.1*/
}

.danger strong{
  color:#d9534f;
}

.warning{
  border-left-color: #f0ad4e;
  background-color: rgba(240, 173, 78, 0.1);
}

.warning strong{
  color:#f0ad4e;
}

.success {
  border-left-color: #82c280;
  background-color: rgb(224, 250, 223);
}

.success strong {
  color: #347e35;
}