.card:hover {
  background-color: #ddd;
}

#sidebar {
  width: 25%;
  float: left;
  padding: 20px;
  position: relative;
}

#main {
  width: 95%;
  float: left;
  position: relative;
  height: auto;
  margin-top: 20px;
  margin-left: 40px;
  
}

.subbox {
  width: 100%;
  max-height: 330px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px grey;
  cursor: pointer;
}

.item-img{
  min-height: 180px;
  max-width: 100%;
  max-height: 180px;
}

.subbox:hover {
  box-shadow: 2px 2px 9px grey;
}

.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1424px) {
  
  #main {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {

  #main {
    width: 90%;
  }
}
@media screen and (max-width: 808px) {

  #main {
    width: 90%;
  }
}

@media screen and (max-width: 689px) {

  #main {
    width: 70%;
  }
}

#openproject {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 150%;
  background-color: rgba(0, 0, 0, 0.4);
}

#innerdialog {
  background-color: white;
  position: relative;
  color: black;
  top: 80px;
  width: 70%;
  min-height: 800px;
  margin-left: 15%;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#clsbtn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 90%;
  font-weight: bolder;
  border-radius: 12px;
  margin-top: 280px;
  margin-left: 5%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 30%;
  height: auto;
}

.dropdown-content div:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


