<app-header title="Dashboard"></app-header>

<div id="main">
  <h3 style="font-weight: 900; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Arduino
    Circuits</h3>
  <div class="d-flex" style="max-width: 100%;">
    <div>
      <a type="button" class="btn btn-primary mb-3" [routerLink]="['/simulator']">+ New
        Circuit</a>
    </div>

    <div class="ml-auto">
      <form class="form-inline" (submit)="SearchCircuits(searchBox)" style="float: right;">
        <div class="form-group mb-2" style="padding-right: 1px;">
          <input type="text" #searchBox class="form-control" id="Search" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>

  <mat-tab-group style="width: 100%;display: flex;">
    <mat-tab label="On Cloud">
      <div *ngIf="online && online.length === 0" [innerHtml]="onCloudMessage"></div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3" *ngFor="let item of online; let i = index">
          <div class="subbox" (click)="openProject(i)">
            <div>
              <div style="width: 100%;  background-color: #e8e8e8;">
                <img class="item-img" style="border-radius: 5px;" src={{item.base64_image}} alt="">
              </div>
              <div style="box-sizing: border-box; padding: 15px;">
                <h4>{{item.name}}</h4>
                <p>{{item.description}}</p>
                {{ DateDiff(item,item.save_time) }}
                <p>{{item.time}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Temporary Circuits">
      <div *ngIf="items.length == 0">No Offline Circuits Available &#9785;</div>
      <div class="row" style="margin-top: 10px;">
        <div class="col-md-3" *ngFor="let item of items; let i = index">
          <div class="subbox" (click)="openProject(i,true)">
            <div>
              <div style="width: 100%;  background-color: #e8e8e8;">
                <img class="item-img" style="border-radius: 5px;" src={{item.base64_image}} alt="">
              </div>
              <div style="box-sizing: border-box; padding: 15px;">
                <h4>{{item.name}}</h4>
                <p>{{item.description}}</p>
                {{ DateDiff(item,item.save_time) }}
                <p>{{item.time}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!--open project-->
<div id="openproject" style="display: none;z-index: 1000;">
  <div id="innerdialog" *ngIf="selected">
    <div class="p-2" style="display: flex; line-height: 20px;max-width: 100%;">
      <h2 style="margin-left: 1%">{{selected.name}}</h2>
      <button type="button" class="btn btn-primary btn-md" style="margin-left: 1%;">Shared</button>
      <button class="ml-auto" style="position: relative; padding-top: 10px;background-color: transparent; border: none;"
      (click)="closeProject()"><i class="fa fa-close"></i></button>
  </div>
  <hr>
  <div class="row">
      <div class="col-md-7">
        <div style="display: flex;">
          <img style="max-width: 100%;margin: auto auto;" src={{selected.base64_image}}
          alt="">
        </div>
      </div>
      <div class="col-md-5 data-body" style="padding-left: 30px;">
        <h4 style="font-family: cursive;font-weight: bold;">Description</h4>
        <p>{{selected.description}}</p>
        <button mat-raised-button color="primary" [routerLink]="['/simulator']"
          [queryParams]="{id: selected.save_id,offline: selected.offline}" style=" margin-top: 10%;margin-left:1%">Edit
          circuit</button>
          <button mat-raised-button color="warn" style="margin-left: 1%;"
          (click)="DeleteCircuit(selected.save_id,selected.offline,selected.index)">Delete Circuit</button>
          <button mat-raised-button style="margin-left: 1%;background-color: #26b12d;color: white;">Publish circuit</button>
        <div style="margin-top: 100px;"></div>
        <h6 style="margin-left: 15px; margin-top: 15px;font-family: cursive">Author name: You</h6>
    <!-- <h6 style="margin-left: 15px;font-family: cursive">Forked By:</h6> -->
    {{ ExpandDate(selected) }}
    <h6 style="margin-left: 15px;font-family: cursive">Created At: {{selected.create}}</h6>
    <h6 style="margin-left: 15px;font-family: cursive">Edited At: {{selected.edit}}</h6>
    <!-- <h6 style="margin-left: 15px;font-family: cursive">Reviewed At:</h6> -->
    <div *ngIf="!selected.offline">
      <button mat-mini-fab color="primary" style="margin-top: 15px;margin-left: 15px;top: 1px;"
        matTooltip="Share it on Facebook" (click)="ShareCircuit(selected,0)"><i class="fab fa-facebook-f"
          style="color:white; font-size: medium;"></i>
      </button>

      <button mat-mini-fab style="margin-top: 9px;margin-left: 15px;background-color: #0080FF; top: 4px;"
        matTooltip="Share it on Linked In" (click)="ShareCircuit(selected,1)">
        <i class="fab fa-linkedin-in" style="font-size: x-large; color: white;"></i>
      </button>
      <button mat-mini-fab style="margin-top: 9px;margin-left: 15px ;background-color: #ff4500;top: 4px;"
        matTooltip="Share it on Reddit" (click)="ShareCircuit(selected,2)">
        <i class='fab fa-reddit-alien' style='font-size:24px;color: white;'></i>
      </button>

      <button mat-mini-fab style="margin-top: 15px;margin-left: 15px ;background-color: black;"
        matTooltip="Share it with Mail" (click)="ShareCircuit(selected,3)">
        <i class="fa fa-envelope" style="font-size: medium;"></i>
      </button>
      <button mat-mini-fab style="margin-top: 15px;margin-left: 15px ;background-color: black;"
        matTooltip="Copy Sharing URL" (click)="ShareCircuit(selected,4)">
        <i class="fa fa-share-alt" style="font-size: medium; color: white"></i>
      </button>

    </div>

  </div>
    <!--Comments
    <hr>
    <div style="height: 185px; width: 100%;">
      <div style="position: relative;left: 3%; top: 5px; width: 97%; height: 170px">
        <h3 style="padding-left: 10px;font-weight: bolder; font-size: 22px;font-family: monospace">Comments</h3>
        <form class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 97%;"></textarea>
        </form>
        <button mat-raised-button disabled>Post Comment</button>
      </div>
    </div>
  -->
  </div>
</div>
<!--/open project-->
