
.example-container {
  min-height: 876px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.no-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.maincontent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.circuitBtn {
  width: 296px;
}

mat-chip {
  max-width: 200px;
  padding: 9px;
  border-radius: 14px;
  padding: 11px;
}
