<br>
<div>

  <div style="display: flex; justify-content: space-between; margin: 0 12px;">
    <h4 style="text-align:center; text-align:left;">History</h4>
    <mat-icon style="cursor:pointer;" (click)="createBranch()">create_new_folder</mat-icon>
  </div>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let branch of branches;let i = index" hideToggle [expanded]="step === i"
      (opened)="setStep(i)" class="version-panel-class">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{branch.name}}
        </mat-panel-title>
        <mat-icon (click)="deleteBranch(branch)" *ngIf="branchName != branch.name">delete</mat-icon>
      </mat-expansion-panel-header>
      <div *ngFor="let version of branch.versions" style="display:flex;" (click)="switchVersion(version)"
        [ngClass]="{'var-selected':(version.version==versionId && branchName == version.branch)}" class="version-list">
        <p>{{version.name}} <br> {{version.formated_save_time}}</p>
        <span style="flex: 1;"></span>
        <mat-icon *ngIf="version.version!=versionId || branchName != version.branch" (click)="deleteVariation(version)">
          delete_outline</mat-icon>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>