<br>
<div>

  <div style="display: flex; justify-content: space-between; margin: 0 12px;">
    <h4 style="text-align:center; text-align:left;">History</h4>
    <mat-icon style="cursor:pointer;" (click)="createBranch()">create_new_folder</mat-icon>
  </div>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let branch of branches" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{branch.name}}
        </mat-panel-title>
        <mat-icon (click)="deleteBranch(branch)">delete</mat-icon>
      </mat-expansion-panel-header>
      <div *ngFor="let version of branch.versions" style="display:flex;" (click)="switchVersion(version)">
        <p>{{version.name}} <br> {{version.formated_save_time}}</p>
        <span style="flex: 1;"></span>
        <mat-icon (click)="deleteVariation(version)">delete_outline</mat-icon>
      </div>
    </mat-expansion-panel>

  </mat-accordion>

</div>