<!-- As a heading -->
<div style="background:whitesmoke;display: flex; height: 60px">
  <div class="head-title" style="display: flex;">
    <a [routerLink]="['/']">
      <img src="./assets/icon.png" style="height: 40px;display: none;margin-top:10px;margin-right: 1em;"
        class="d-md-block" alt="AOC">
    </a>
    <span [style.color]="color" style="text-decoration: none;">
      {{title}}
    </span>
  </div>
  <!--<div style="flex-basis: 200px; line-height: 60px; text-align: right; padding-right: 10px;font-size: 18px;">Gallery
  </div>-->
  <div style="display: flex; padding: 10px;">
    <a mat-stroked-button [href]="window.location.protocol + '//' + window.location.hostname"
      style="margin-right: 10px;">Home</a>
    <a mat-stroked-button [routerLink]="['/dashboard']" style="margin-right: 10px;">Dashboard</a>
    <a mat-stroked-button [routerLink]="['/dashboard/gallery']" style="margin-right: 10px;">Gallery</a>
    <a mat-stroked-button [routerLink]="['/simulator']" style="margin-right: 10px">Editor</a>
    <a mat-stroked-button (click)="Login()" *ngIf="!username">Login</a>
  </div>
  <div class="dropdown my-dropdown" *ngIf="username">
    <div class="w3-dropdown-hover float-right" style="padding-bottom:10px;margin-right: 1em;">
      <!--<div class="dropdown my-dropdown" *ngIf="token">
    <div class="w3-dropdown-hover float-right p-2" style="padding-bottom:10px;">
      <img src="./assets/images/login.svg" width="30" height="30" class="d-inline-block align-center" alt="Login Image">
      <div class="dropdown-content">
        <div>
          <i class="fas fa-user" style="margin-left: 5px;"></i> {{username}}
        </div>
        <hr style="margin-top: 5px;margin-bottom: 0;">
        <div>
          <a href="../../"><i class="fa fa-home" style="margin-left: 5px;"></i> Home</a>
        </div>
        <div>
          <a [routerLink]="['/simulator']"><i class="fa fa-plus" style="margin-left: 5px;"></i> New</a>
        </div>
        <div class="list">
          <a [routerLink]="['/dashboard']"><i class="fa fa-credit-card" style="margin-left: 5px;"></i> Dashboard</a>
        </div>
        <div>
          <a [routerLink]="['/gallery']"><i class="fa fa-th" style="margin-left: 5px;"></i> Gallery</a>
        </div>
        <hr style="margin-top: 5px;margin-bottom: 0;">
        <div (click)="Logout()">
          <i class="fas fa-sign-out-alt" style="margin-left: 5px;"></i> Logout
        </div>
      </div>
    </div>
  </div>-->
      <div class="dropdown show mr-2" *ngIf="token" style="margin-top: 9px;">
        <!-- <img class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" src="./assets/images/login.svg" width="30" height="30"
          class="d-inline-block align-center" alt="Login Image"> -->
        <div class="circles" id="dropdownMenuLink" data-toggle="dropdown">
          {{ username.charAt(0).toUpperCase() }}
        </div>
        <div class="dropdown-menu dropdown-menu-right" style="background-color: whitesmoke;  color: black !important;"
          aria-labelledby="dropdownMenuLink">
          <a *ngIf="username" class="dropdown-item"><i class="fas fa-user mr-1"></i> {{username}}</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="../../"><i class="fa fa-home mr-1"></i> Home</a>
          <a class="dropdown-item" [routerLink]="['/simulator']"><i class="fa fa-plus mr-1"></i> New</a>
          <a class="dropdown-item" [routerLink]="['/dashboard']"><i class="fa fa-credit-card mr-1"></i> Dashboard</a>
          <a class="dropdown-item" [routerLink]="['/gallery']"><i class="fa fa-th mr-1"></i> Gallery</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="Logout()"><i class="fas fa-sign-out-alt mr-1"></i> Logout</a>
        </div>
      </div>
    </div>